body {
  background-color: rgba(224, 222, 199, 0.993);
}

#title {
  text-align: center;
  color: white;
  background-color: rgb(204, 85, 231);
  font-size: larger;
  font-style: italic;

}

.header img {
  float: left;
  width: 167px;
  height: 167px;

}

#nav {
  text-align: center;
  background-color: rgba(224, 222, 199, 0.993);
  font-size: large;
  letter-spacing: 1px;
  font-size: larger;
}

a:hover {
  background-color: aliceblue;

}

#footer {
  text-align: center;
  height: 1cm;
  padding-top: 1px;
  padding-bottom: 7px;
  background-color: rgb(204, 85, 231);

}

#logstyle {
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 1800px;
  padding: 30px 50px 30px 63px;
  background-color: rgb(235, 207, 241);
}

#contactstyle {
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 1800px;
  padding: 30px 50px 30px 63px;
  background-color: rgb(235, 207, 241);
}

#aboutstyle {
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 1800px;
  padding: 30px 50px 30px 63px;
  background-color: rgb(235, 207, 241);
}

#careerslogstyle {
  margin: auto;
  display: inline-block;
  text-align: center;
  width: 1800px;
  padding: 30px 50px 30px 63px;
  background-color: rgb(235, 207, 241);
}